# Local secrets & notebooks
.env
.ipynb_checkpoints/

# Data & models (keep out of Git)
hf_dataset_export/*

data/*
!data/prolific_stimuli/
!data/prolific_stimuli/**
!data/prolific_stimuli/profiles/
!data/prolific_stimuli/profiles/**
data/prolific_stimuli/stimulus_table_counterfact.csv
data/prolific_stimuli/stimulus_table_image_priors.csv
data/prolific_stimuli/stimulus_table_shapes.csv
data/prolific_stimuli/stimulus_table_counterfact_prolific.csv
data/prolific_stimuli/stimulus_table_image_priors_prolific.csv
data/prolific_stimuli/stimulus_table_shapes_prolific.csv
data/prolific_stimuli/stimulus_table_counterfact_fractions.csv
data/prolific_stimuli/stimulus_table_image_priors_fractions.csv
data/prolific_stimuli/stimulus_table_shapes_fractions.csv
data/prolific_stimuli/stimulus_table_counterfact_prolific_fractions.csv
data/prolific_stimuli/stimulus_table_image_priors_prolific_fractions.csv
data/prolific_stimuli/stimulus_table_shapes_prolific_fractions.csv
data/prolific_stimuli/stimulus_table.parquet

!data/GPT_results/
data/GPT_results/*
!data/GPT_results/evaluation_gpt-4o_combined.csv

!data/LLaVA-NeXT_results/
data/LLaVA-NeXT_results/*
!data/LLaVA-NeXT_results/evaluation_llava-v1.6-mistral-7b-hf_combined.csv

!data/Qwen3_results/
data/Qwen3_results/*
!data/Qwen3_results/evaluation_Qwen3-VL-8B-Instruct_combined.csv

segment-anything-2/
checkpoints/
.vscode/*
__pycache__/
making_color_images/__pycache__/
*.pt
*.pth
*.ckpt
*.onnx
*.bin
*.tar
*.zip

# Styling images for prolific
prolific_study/static/img/*
!prolific_study/static/img/Brown_Logo.png
!prolific_study/static/img/Tuebingen_Logo.png
!prolific_study/static/img/UTAustin_Logo.png
prolific_study/static/dataset/
prolific_study/data/
prolific_study/results/

corrupt_images.txt
env_before_openai_upgrade.yml
prolific_study/color_threshold.png
thesis_plots/*
